.row {
  margin: auto;
  width: 100%;
}

.section-1 {
  margin: auto;
  border-bottom: 1px solid black;
  text-align: center;
}

.section-2 {
  margin: auto;
  border-bottom: 1px solid black;
  text-align: center;
}

/* .react-pdf__Page canvas {
  padding: 10px;
} */
