.row {
  margin: auto;
  width: 100%;
}

.section-1 {
  margin: auto;
  border-bottom: 1px solid black;
  text-align: center;
}

.section-2 {
  margin: auto;
  border-bottom: 1px solid black;
  text-align: center;
}

#price-content-section {
  padding-bottom: 0;
}

#classic-section,
#removal-section {
  padding: 100px;
}

#volume-section,
#lift-section {
  background-color: #222222;
  padding: 100px;
}

#volume-section h2,
#lift-section h2 {
  color: white;
}

#volume-lashes .set-item h5,
#volume-lashes .set-item h6,
#volume-infills .set-item h5,
#volume-infills .set-item h6,
#lash-lift .set-item h5,
#lash-lift .set-item h6 {
  color: white;
}

#classic-lashes,
#classic-infills,
#volume-lashes,
#volume-infills,
#lash-removal,
#lash-lift {
  padding: 30px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}

#volume-section .link-button a,
#lift-section .link-button a {
  color: white;
  background-color: #222222;
  border: 1px solid white;
}

#volume-section .link-button a:hover,
#volume-section .link-button a:focus,
#volume-section .link-button a:active,
#lift-section .link-button a:hover,
#lift-section .link-button a:focus,
#lift-section .link-button a:active {
  background: white;
  color: #222222;
  border-color: gray;
}
