#work-section {
  text-align: center;
  padding: 100px;
}

#work-image-wrapper {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  width: 60%;
  padding: 30px 0 50px;
  align-items: center;
}

.work-image {
  height: 327.5px;
  width: 327.5px;
  overflow: hidden;
}

.work-image img {
  padding: 20px;
  width: 90%;
  height: 90%;
  object-fit: cover;
  border: 1px;
  border-radius: 3px;
  box-shadow: 10px 10px 5px #ccc;
  -moz-box-shadow: 10px 10px 5px #ccc;
  -webkit-box-shadow: 10px 10px 5px #ccc;
  -khtml-box-shadow: 10px 10px 5px #ccc;
}

@media screen and (max-width: 2000px) {
  #work-image-wrapper {
    max-width: 80%;
    width: auto;
    height: auto;
  }
}

@media screen and (max-width: 1700px) {
  #work-image-wrapper {
    max-width: 100%;
    width: auto;
    height: auto;
  }
}

@media screen and (max-width: 1400px) {
  #work-image-wrapper {
    max-width: 80%;
    width: auto;
    height: auto;
  }
}

@media screen and (max-width: 991px) {
  #work-section {
    padding: 50px;
  }

  #work-image-wrapper {
    max-width: 100%;
    width: auto;
    height: auto;
    padding-bottom: 0;
  }
}
