.service-list h2 {
  font-size: 48px;
}

#service-row {
  padding: 30px;
  display: flex;
  justify-content: space-between;
}

.service-list-content {
  font-size: 20px;
  padding: 20px;
}

@media screen and (max-width: 991px) {
  .service-list h2 {
    font-size: 38px;
  }

  #service-row {
    padding: 20px 20px 0;
  }

  .service-list-content {
    padding: 10px;
  }
}
