/* Contacts */
#hours-section {
  background-color: #eeeeee;
  width: 100%;
  padding: 0;
  margin: auto;
  margin-top: 100px;
  justify-content: center;
}

.hours {
  margin: 20px;
  background-color: #eeeeee;
}

#hours-grid {
  padding: 0;
}

.hours .link-button a {
  color: #222222;
  background-color: #eeeeee;
}

.link-button a:hover,
.link-button a:focus,
.link-button a:active {
  background: #222222;
  color: #ffffff;
  border-color: gray;
}

@media screen and (min-width: 1536px) {
  #hours-section {
    width: 80%;
  }
}
