h1,
h2,
h3,
h5,
h6 {
  font-family: "Source Serif 4", sans-serif;
  color: black;
}

p {
  font-family: "IBM Plex Sans Thai Looped", sans-serif;
  font-weight: bold;
}

.content-section {
  text-align: center;
  padding-top: 150px;
}

#contact-section {
  margin: auto;
}

.sub-section {
  margin: auto;
  width: 60%;
  padding: 100px 0px;
}

.sub-section h2 {
  font-family: "Source Serif 4", sans-serif;
  font-size: 48px;
}
